IMSpoor-Alignment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.prorail.nl/IMSpoor" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="http://www.prorail.nl/IMSpoor" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="https://raw.githubusercontent.com/XanderdenDuijn/IMX/master/IMSpoor-BasicTypes.xsd"/>
	<xs:element name="AlignmentData">
		<xs:annotation>
			<xs:documentation>Wrapper voor de alignementsgegevens van de spoortakken in het document</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="HorizontalStraightPath"/>
				<xs:element ref="HorizontalTransitionCurve"/>
				<xs:element ref="HorizontalCurve"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="HorizontalStraightPath">
		<xs:annotation>
			<xs:documentation>Horizontale Rechtstand</xs:documentation>
			<xs:documentation xml:lang="NL">Horizontale Rechtstand</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tHorizontalTrackElement">
					<xs:attribute name="angle" type="xs:double" use="required">
						<xs:annotation>
							<xs:documentation>De hoek aangegeven in radialen</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="HorizontalCurve">
		<xs:annotation>
			<xs:documentation>Horizontale Boog</xs:documentation>
			<xs:documentation xml:lang="NL">Horizontale Boog</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tHorizontalTrackElement">
					<xs:attribute name="radius" type="xs:double" use="required">
						<xs:annotation>
							<xs:documentation>De straal in meters. Een positieve radius: CW. Negatieve radius: CCW.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="startAngle" type="xs:double" use="required">
						<xs:annotation>
							<xs:documentation>De beginhoek in radialen</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="endAngle" type="xs:double" use="required">
						<xs:annotation>
							<xs:documentation>De eindhoek in radialen</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="HorizontalTransitionCurve">
		<xs:annotation>
			<xs:documentation>Horizontale Overgangsboog (Clothoïde)</xs:documentation>
			<xs:documentation xml:lang="NL">Horizontale Overgangsboog (Clothoïde)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tHorizontalTrackElement">
					<xs:attribute name="startRadius" type="xs:double" use="required">
						<xs:annotation>
							<xs:documentation>De beginstraal in meters. Een positieve radius: CW. Negatieve radius: CCW.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="endRadius" type="xs:double" use="required">
						<xs:annotation>
							<xs:documentation>De eindstraal in meters. Een positieve radius: CW. Negatieve radius: CCW.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="tHorizontalTrackElement">
		<xs:annotation>
			<xs:documentation>Generiek onderdeel van een horizontaal alignement</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tBaseObject" >
				<xs:sequence>
					<xs:element name="VerticalAlignment" type="tVerticalAlignment" minOccurs="0"/>
					<xs:element ref="CantValues" minOccurs="0"/>
					<xs:element ref="DesignSpeedValues" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="startX" type="xs:double" use="required">
					<xs:annotation>
						<xs:documentation>x-coordinaat van het startpunt, in RD</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="startY" type="xs:double" use="required">
					<xs:annotation>
						<xs:documentation>y-coordinaat van het startpunt, in RD</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="endX" type="xs:double" use="required">
					<xs:annotation>
						<xs:documentation>x-coordinaat van het eindpunt, in RD</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="endY" type="xs:double" use="required">
					<xs:annotation>
						<xs:documentation>y-coordinaat van het eindpunt, in RD</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="length" type="xs:double" use="required">
					<xs:annotation>
						<xs:documentation>De ontwikkelde lengte in het horizontale vlak in meters</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CantValues">
		<xs:annotation>
			<xs:documentation>Een lijst van verkantingen</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CantValue" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CantValue">
		<xs:annotation>
			<xs:documentation>Verkanting</xs:documentation>
			<xs:documentation xml:lang="NL">Verkanting</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="startM" type="xs:double" use="required">
				<xs:annotation>
					<xs:documentation>Begin Measure van de verkanting, in meters</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="endM" type="xs:double" use="required">
				<xs:annotation>
					<xs:documentation>Eind Measure van het verkanting, in meters</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="startValue" type="xs:double" use="required">
				<xs:annotation>
					<xs:documentation>De beginwaarde van de verkanting in millimeters</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="endValue" type="xs:double" use="required">
				<xs:annotation>
					<xs:documentation>De eindwaarde van de verkanting in millimeters</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DesignSpeedValues">
		<xs:annotation>
			<xs:documentation>Een lijst van ontwerpsnelheden</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DesignSpeedValue" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DesignSpeedValue">
		<xs:annotation>
			<xs:documentation>De ontwerpsnelheid van het allignement.</xs:documentation>
			<xs:documentation xml:lang="NL">Ontwerpsnelheid</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="startM" type="xs:double" use="required">
				<xs:annotation>
					<xs:documentation>x-coordinaat van het startpunt, in RD</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="endM" type="xs:double" use="required">
				<xs:annotation>
					<xs:documentation>y-coordinaat van het startpunt, in RD</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="value" type="xs:double" use="required">
				<xs:annotation>
					<xs:documentation>De ontwerpsnelheid in kilometers per uur.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="tVerticalTrackElement">
		<xs:annotation>
			<xs:documentation>Generiek onderdeel van een verticaal alignement</xs:documentation>
		</xs:annotation>
		<xs:attribute name="startM" type="xs:double" use="required">
			<xs:annotation>
				<xs:documentation>Begin Measure van de verkanting, in meters</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="endM" type="xs:double" use="required">
			<xs:annotation>
				<xs:documentation>Eind Measure van de verkanting, in meters</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="startZ" type="xs:double" use="required">
			<xs:annotation>
				<xs:documentation>z-coordinaat van het beginpunt, in NAP</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="endZ" type="xs:double" use="required">
			<xs:annotation>
				<xs:documentation>z-coordinaat van het eindpunt, in NAP</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="length" type="xs:double" use="required">
			<xs:annotation>
				<xs:documentation>De ontwikkelde lengte in het verticale vlak in meters</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="horizontalLength" type="xs:double" use="required">
			<xs:annotation>
				<xs:documentation>De ontwikkelde lengte in het horizontale vlak in meters</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="tVerticalAlignment">
		<xs:choice minOccurs="1" maxOccurs="unbounded">
			<xs:element ref="VerticalStraightPath"/>
			<xs:element ref="VerticalCurve"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="VerticalStraightPath">
		<xs:annotation>
			<xs:documentation>Verticale Rechtstand</xs:documentation>
			<xs:documentation xml:lang="NL">Verticale Rechtstand</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tVerticalTrackElement">
					<xs:attribute name="angle" type="xs:double" use="required">
						<xs:annotation>
							<xs:documentation>De hoek aangegeven in radialen</xs:documentation>
						</xs:annotation>
					</xs:attribute>	
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="VerticalCurve">
		<xs:annotation>
			<xs:documentation>Verticale Boog</xs:documentation>
			<xs:documentation xml:lang="NL">Verticale Boog</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tVerticalTrackElement">
					<xs:attribute name="radius" type="xs:double" use="required">
						<xs:annotation>
							<xs:documentation>De straal in meters. Een positieve radius: CW. Negatieve radius: CCW.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="startAngle" type="xs:double" use="required">
						<xs:annotation>
							<xs:documentation>De beginhoek in radialen</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="endAngle" type="xs:double" use="required">
						<xs:annotation>
							<xs:documentation>De eindhoek in radialen</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
